.countrydatacard{
    margin: auto;
    margin-top: 4rem;
    box-shadow: 0px 0px 15px 4px gray !important;
}
.region{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 24px;
}
.ExpandMore{
    margin-left: auto;
}

.highlighttext{
    font-weight: bold;
    color: blue;
}

.flagpos{
    padding: 1rem;
}

.description{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
